.commads-modal-view-overlay{
    background:none ;
    backdrop-filter: none;
    position: relative;
    padding: 0;
    width: min(78lvw,300px);
    display: flex;
    justify-content: stretch;
}

.commads-modal-view{
    height: 30lvh;
    overflow-y: auto;
    padding: 20px 6px;
    
}

.commads-modal-view .btn-command:hover, .commads-modal-view .btn-command:active, .commads-modal-view .btn-command.selected {
    background-color: var(--ligth-color-primary);
    color: var(--dark-color-primary);
}


.commads-modal-view .btn-command  *{
    color: inherit;
}