.app-pallete-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2dvh;
    justify-content: space-between;
}

.palette-card {
    width: 10dvh;
    height: 15dvh;
    border: none;
    border-radius: 2dvh;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-auto-rows: 1fr;
    border: .5dvh solid;
    transition: transform .3s;
    cursor: pointer;
}

.palette-card.active {
    transform: translateY(-.4dvh);

}

.palette-card__color {
    width: 100%;
    height: 100%;
}